.slide{
    height: 465px;
    width: 100%;
    transition: 1s ease;
    flex: 0 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.zero{
    background-image: url(../images/black.jpg);
}
.one{
    background-image: url(../images/natty.jpg);
}
.two{
    background-image: url(../images/shoe_deal.png);
}
.three{

}
.four{

}
.five{

}
#SliderParent{
    display: flex;
}
#slideOverall{
    transition: 0.2s ease;
    width: 50%;
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
    overflow: hidden;
    background-image: url(../images/sale_tag.png);
    background-size: 10%;
    background-repeat: repeat;
}
#slideOverall::-webkit-scrollbar {
    display: none;
}
.abs{
    transition: 0.5s ease;
    position: absolute;
    height: 15px;
    width: 70px;
    margin-top: 230px;
    z-index: 4;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/arrow.svg);
}
.left{
    left: 10px;
    margin-top: 230px;
    z-index: 4;
}
.right{
    right: 50%;
    margin-top: 230px;
    z-index: 4;
    transform: rotate(180deg);
}
#switcher{
    width: 50px;
}
#switch{
    height: 11px;
    width: 10px;
    border-radius: 50%;
    background: red;
}
#switcherBody{
    display: flex;
    width: 100%;
    height: 50px;
    z-index: 5;
    position: absolute;
    margin-top: 440px;
    justify-content: center;
}
#rightNoSlide{
    background-image: url(../images/whiteFriday.png);
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media only screen and (max-width:700px){
    #SliderParent{
        display: block;
    }
    #slideOverall{
        width: 100%;
    }
    .right {
        right: 10px;
    }
}