body{
	font-family: 'Fira Sans', sans-serif;
}
.input_text{
	height: 50px;
    width: 300px;
    border: 2px solid;
    padding-left: 10px;
    padding-right: 10px;
}
.login_wrapper{
	margin: 5px;
}
#Login{
	display: flex;
    justify-content: center;
    margin-top: 50px;
}
#login_div{
    border-radius: 10px;
    box-shadow: -5px 22px 11px 6px #f0e2e2;
    padding: 20px;
}
.button_des{
	height: 60px;
    width: 145px;
    border: none;
    background: black;
    padding-left: 10px;
    color: white;
    padding-right: 10px;
    margin-top: 15px;
    text-align: left;
}
#Header{
	display: flex;
    place-content: center;
    background: white;
    padding: 0.7rem 5rem;
}
.top_left{
	height: 50px;
    width: 150px;
    background-repeat: no-repeat;
    background-image: url(./images/logo.svg);
    /* background-image: url(images/logo.svg); */
    background-size: contain;
}
.top_right{
	display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: max-content;
    /* display: none; */
}
.cart_icon{
	height: 32px;
    margin: 0 30px;
    width: 43px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./images/black_cart.png);

    /*background-image: url(images/sale-bag-svgrepo-com.svg);*/
}
.logout{
	display: flex;
}
.user{
	width: 60px;
    background-image: url(images/user.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.logout .button_des{
	margin-top: 0px;
    height: 35px;
    width: 90px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
input:focus, .button_des:focus{
	outline:none;
}
@media only screen and (max-width:700px){
    #Header{
        padding: 0;
        margin-top: 10px;
    }
}